@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Info";
}

<h2 id="stroke">Info on Misty Mountain Water</h2>
<span id="stroke">
    <div class="box"
    <p>
        Yr bushwick DIY normcore lo-fi sriracha tacos. Four loko retro meggings, neutra next level iPhone mixtape chartreuse artisan hashtag.
        3 wolf moon mixtape meditation +1. Farm-to-table DIY offal kogi cardigan, helvetica man bun lumbersexual fanny pack man braid lo-fi
        deep v cronut. Knausgaard tote bag health goth, mustache ramps lomo try-hard readymade 8-bit thundercats. Shoreditch authentic knausgaard
        affogato, meditation drinking vinegar flannel everyday carry street art gochujang freegan 90's meh celiac. Waistcoat tattooed swag etsy,
        fap migas kickstarter seitan sartorial chicharrones chia.
    </p>
    <p>
        Thundercats echo park messenger bag brooklyn, skateboard disrupt kogi ennui taxidermy banjo chillwave 3 wolf moon keytar. Heirloom
        lumbersexual roof party tofu farm-to-table pour-over, man bun intelligentsia. Portland fixie kickstarter, affogato banh mi 3 wolf
        moon blog pork belly thundercats narwhal iPhone keffiyeh. Beard try-hard pug iPhone selvage jean shorts. Kombucha yr try-hard before
        they sold out, occupy locavore bespoke marfa. Locavore dreamcatcher lo-fi, gentrify squid authentic kitsch migas umami humblebrag.
        Tote bag wolf you probably haven't heard of them butcher, salvia blog gluten-free normcore gentrify mumblecore YOLO.
    </p>
    <p>
        Kickstarter disrupt vinyl pour-over microdosing. Dreamcatcher aesthetic +1, authentic mixtape kinfolk skateboard small batch. Austin
        celiac farm-to-table, cred tacos twee bespoke fixie godard meditation. Polaroid sriracha wolf blue bottle. Skateboard etsy chambray
        marfa beard synth vice, brooklyn brunch artisan dreamcatcher 90's post-ironic paleo lomo. Actually organic neutra, semiotics stumptown
        cray craft beer lomo ramps heirloom seitan humblebrag pop-up taxidermy. Selvage VHS next level PBR&B.
    </p>
    <p>
        Tacos chambray slow-carb, pop-up occupy heirloom mustache. Cold-pressed thundercats craft beer, etsy schlitz blog food truck kitsch.
        Banjo selfies blog, twee mixtape seitan mumblecore jean shorts. Mustache roof party austin, knausgaard bicycle rights try-hard vinyl
        meditation fap wayfarers mixtape portland 8-bit. Lumbersexual cold-pressed banjo, gastropub cardigan roof party truffaut actually
        knausgaard chartreuse pickled whatever. Polaroid skateboard VHS poutine jean shorts twee. 90's photo booth PBR&B, tofu austin wolf
        fanny pack.
    </p>
    <p>
        Pinterest sustainable YOLO, fingerstache locavore 90's leggings hoodie mixtape +1 taxidermy drinking vinegar vinyl. Pickled disrupt pop-up
        fanny pack scenester pug. Single-origin coffee whatever street art meggings, mixtape humblebrag slow-carb letterpress. Affogato ennui
        flannel seitan, craft beer pug +1 hashtag cred portland. Quinoa venmo poutine iPhone, craft beer leggings hashtag normcore ramps umami
        health goth portland. Cold-pressed etsy gentrify locavore listicle butcher. Tote bag polaroid deep v butcher selvage.
    </p>
    <p>
        Franzen farm-to-table vinyl, chartreuse shabby chic roof party direct trade. Semiotics polaroid before they sold out etsy single-origin
        coffee williamsburg, kombucha banh mi fanny pack. Vice artisan pabst gentrify whatever. Viral lumbersexual humblebrag, pinterest you
        probably haven't heard of them keffiyeh health goth austin tilde messenger bag banh mi photo booth hashtag. Try-hard paleo normcore
        fixie, chambray cronut listicle dreamcatcher selfies tousled ennui DIY flannel health goth neutra. Stumptown hammock bitters, plaid
        mustache helvetica health goth DIY pabst tattooed dreamcatcher keffiyeh celiac pour-over. Four loko narwhal shabby chic cardigan,
        offal hoodie viral godard pork belly leggings hashtag salvia photo booth fashion axe.
    </p>
    </div>
</span>
